<header
  class="bg-background-surface w-full px-6 py-2 border-b-1 h-[60px] border-border-light"
>
  <div class="max-w-7xl w-full mx-auto flex items-center justify-between">
    <img src="images/GoTask-logo.png" />
    <div class="flex gap-2 items-center">
      <img src="assets/bell.png" class="m-2 w-5 h-5 cursor-pointer" />
      <nav class="flex gap-3 items-center">
        <div class="flex gap-2 items-center">
          <div
            class="rounded-full overflow-hidden w-[27px] h-[27px] flex items-center justify-center"
          >
            <img src="images/JennyK.png" class="object-cover w-full h-full" />
          </div>
          <span>Jenny K.</span>
        </div>
        <img src="assets/sign-out.png" class="w-4 h-4 cursor-pointer" />
      </nav>
    </div>
  </div>
</header>
