@let todoList = (_taskService.todoTasks | async) ?? [];
@let doingList = (_taskService.doingTasks| async) ?? [];
@let doneList = (_taskService.doneTasks | async) ?? [];

<section class="flex w-full overflow-x-auto justify-between scrollbar-hidden">
  <div
    class="px-6 py-3 min-w-[284px] space-y-8">
    <div class="flex gap-1 border-b-1 border-border-light w-full py-2">
      <span class="font-semibold leading-6">A fazer</span>
      <div class="rounded-full bg-text-heading">
        <span class="text-white p-2 text-[12px]">{{todoList.length}}</span>
      </div>
    </div>
    <div
      id="to-do-column"
      cdkDropList
      #todoListCdkDropList="cdkDropList"
      [cdkDropListData]="todoList"
      [cdkDropListConnectedTo]="[doingListCdkDropList, doneListCdkDropList]"
      (cdkDropListDropped)="onCardDrop($event)"
      class="min-h-[20px]"
    >
      @for (item of todoList; track item.id) {
        <app-task [task]=item cdkDrag [cdkDragData]="item" ></app-task>
      }
    </div>
  </div>

  <div
  class="px-6 py-3 min-w-[284px] space-y-8">
    <div class="flex gap-1 border-b-1 border-border-light w-full py-2">
      <span class="font-semibold leading-6">Fazendo</span>
      <div class="rounded-full bg-accent-orange">
        <span class="text-white p-2 text-[12px]">{{doingList.length}}</span>
      </div>
    </div>
    <div
      id="doing-column"
      cdkDropList
      #doingListCdkDropList="cdkDropList"
      [cdkDropListData]="doingList"
      [cdkDropListConnectedTo]="[todoListCdkDropList, doneListCdkDropList]"
      (cdkDropListDropped)="onCardDrop($event)"
      [ngClass]="(todoList.length > 0 ||doingList.length > 0 || doneList.length > 0 ) ? 'h-screen': ''" 
    >
      @for (item of doingList; track item.id) {
        <app-task [task]=item cdkDrag [cdkDragData]="item"></app-task>
      }
    </div>
  </div>

  <div class="px-6 py-3 min-w-[284px] space-y-8">
    <div class="flex gap-1 border-b-1 w-full border-border-light py-2">
      <span class="font-semibold leading-6">Concluído</span>
      <div class="rounded-full bg-accent-green">
        <span class="text-white p-2 text-[12px]">{{doneList.length}}</span>
      </div>
    </div>
    <div
      id="done-column"
      cdkDropList
      #doneListCdkDropList="cdkDropList"
      [cdkDropListData]="doneList"
      [cdkDropListConnectedTo]="[todoListCdkDropList, doingListCdkDropList]"
      (cdkDropListDropped)="onCardDrop($event)"
      class="min-h-[20px]"
    >

      @for (item of doneList; track item.id) {
        <app-task [task]=item cdkDrag [cdkDragData]="item"></app-task>
      }
    </div>
  </div>

</section>
@if (todoList.length === 0 && doingList.length === 0 && doneList.length === 0) {
  <div class="rounded-sm px-5 py-3 border-l-3 border-text-heading">
    <span class="text-text-span font-semibold text-[18px]"
      >Nenhuma tarefa disponível no momento.</span
    >
  </div>
}

